@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

@media (max-width: 500px) {
    .calculadora {
        width: 100% !important;
        height: 100vh !important;
        gap: 5% !important;
    }

    button {
        font-size: 1.8em !important;
        height: 3em !important;
    }
}

:root {
--cor-body: #61677A;
--cor-calc: #352F44;
--cor-visor-btEquals: #B9B4C7;
--cor-button: #9BA4B5;
--cor-caracteres: #FFFFFF;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--cor-body);

}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.calculadora {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: var(--cor-calc);
    width: 450px;
    height: 700px;
    text-align: center;
    gap: 2em;
}

.visor-calculadora {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    border-radius: 2px;
    background-color: var(--cor-visor-btEquals);
    height: 15vh;
    text-align: right;
    overflow-wrap: break-word;
    min-height: 1.6em;
    font-size: 2rem;
    font-family: 'Public Sans', sans-serif;
}

.corpo-calculadora {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4px;
    padding: 5px;
}

button {
    background-color: var(--cor-button);
    color: var(--cor-caracteres);
    border: 1px solid transparent;
    border-radius: 0;
    height: 4.5em;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 3px;
    font-family: 'Public Sans', sans-serif;
    font-size: 1.3em;
}

button:hover {
    border-color: #999;
}

#equal-btn {
    grid-column: span 2;
    background-color: var(--cor-visor-btEquals);
}